{% extends 'users/homebase.html' %}


{% block content %}

<br>
<br>

<div class="jumbotron" style="margin-bottom:0px;">
  <h1 class="display-4" style="text-align:center;">Hello, Secretary</h1>
  <p class="lead">Welcome to Clinic Management System.</p>
  <hr class="my-4">

  <p class="lead">
    <a class="btn btn-danger btn-lg" href="/secretarysignup" role="button">Apply</a>
    <a class="btn btn-success btn-lg" href="/secretarylogin" role="button">Login</a>
  </p>
</div>

{% endblock content %}
